@model FoodPack2Go.Core.Customer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>

        input {
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn-primary {
            width: 100%;
            padding: 10px;
            background-color: red;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .btn-primary:hover {
                background-color: black;
            }

        .text-danger {
            color: red;
        }

        .main {
            display: flex;
        }

        .inner {
            width: 600px;
            padding: 5px;
        }
    </style>
</head>

<body>

    <hr />
    <form method="post" asp-action="Delete" asp-controller="Customer" style="margin-left:10%; background-color: #f4f4f4;
            border-radius: 8px;
            padding:50px;
margin-top:30px;
margin-bottom:30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 800px;
            box-sizing:600px;
        }">

        <h2 style="  text-align: center;
            color: #333;">
            REMOVE CUSTOMER
        </h2>
        <div class="main">
            <div class="inner">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-bottom: 16px;">
                    <label asp-for="CustomerID" style="display: block;
            margin-bottom: 8px;
            color: #333;"></label>
                    <input asp-for="CustomerID" class="form-control" />
                    <span asp-validation-for="CustomerID" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom: 16px;">
                    <label asp-for="FirstName" style="display: block;
            margin-bottom: 8px;
            color: #333;"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-bottom: 16px;">
                    <label asp-for="LastName" style="display: block;
            margin-bottom: 8px;
            color: #333;"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom: 16px;">
                    <label asp-for="Address" style="display: block;
            margin-bottom: 8px;
            color: #333;"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom: 16px;">
                    <label asp-for="Pincode" style="display: block;
            margin-bottom: 8px;
            color: #333;"></label>
                    <input asp-for="Pincode" type="text" class="form-control" />
                    <span asp-validation-for="Pincode" class="text-danger"></span>
                </div>
            </div>


            <div class="inner">
                <div class="form-group" style="margin-bottom: 16px;">
                    <label asp-for="Country" style="display: block;
            margin-bottom: 8px;
            color: #333;"></label>
                    <input asp-for="Country" type="text" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom: 16px;">
                    <label asp-for="State" style="display: block;
            margin-bottom: 8px;
            color: #333;"></label>
                    <input asp-for="State" type="text" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-bottom: 16px;">
                    <label asp-for="City" style="display: block;
            margin-bottom: 8px;
            color: #333;"></label>
                    <input asp-for="City" type="text" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-bottom: 16px;">
                    <label asp-for="ContactNo" style="display: block;
            margin-bottom: 8px;
            color: #333;"></label>
                    <input asp-for="ContactNo" type="text" class="form-control" />
                    <span asp-validation-for="ContactNo" class="text-danger"></span>
                </div>


                <div class="form-group" style="margin-bottom: 16px;">
                    <label style="display: block;
            margin-bottom: 8px;
            color: #333;"></label>
                    <input type="submit" style="height:48px" class="form-control btn btn-primary mt-4" value="REMOVE" />


                    <span class="text-danger"></span>
                </div>

            </div>
        </div>




    </form>

</body>
</html>

