@model FoodPack2Go.Core.CategoryModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <style>

        .form-group {
            margin-bottom: 16px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #333;
        }

        input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn-primary {
            width: 100%;
            padding: 10px;
            background-color: gold;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-primary:hover {
                background-color: black;
        }

        .text-danger {
            color: red;
        }

        .signup-link {
            text-align: center;
            margin-top: 16px;
        }

            .signup-link a {
                color: #007bff;
                text-decoration: none;
            }
    </style>
</head>

<body class="abc" style="margin: 0;
            padding: 0;
            margin-bottom:30px;
            background-color: #ffffff;
            align-items: center;

            justify-content: center;
            height: 100vh;">

    <form method="post" action="Edit"  style=" background-color: #f4f4f4;
            padding: 50px;
            margin-left:33%;
margin-top:50px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 500px;
            box-sizing: border-box;">
        <h2 style=" text-align: center;
            color: #333;">
            EDIT CATEGORY
        </h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CategoryID" value="@Model.CategoryID" />

        <div class="form-group">
            <label asp-for="CategoryName"> Category Name</label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">EDIT</button>
    </form>

</body>

</html>
